# Java Maven CircleCI 2.1 configuration file
#

version: 2.1

orbs:
  whitesource-scan: whitesource/whitesource-scan@dev:18.11.1

workflows:
  test:
    jobs:
    - whitesource-scan/scan:
        context: WhiteSource
        api_key: $API_KEY
        config_file_path:  "https://s3.amazonaws.com/file-system-agent/SNAPSHOT/whitesource-fs-agent.config"


jobs:
  build:
   docker:
     - image: chen470/fsa:18.11.1
   steps:
